#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: none;
  animation: fadeIn 1s ease-in-out;
}

.header {
  display: flex;
  align-items: center; /* Alineación vertical */
  justify-content: center; /* Alineación horizontal */
  gap: 20px; /* Espaciado entre imagen y texto */
  margin-bottom: 20px;
  background: #333333;
  padding: 20px;
  border-radius: 8px;
}

.header-text {
  display: flex;
  flex-direction: column; /* Organiza el título y el subtítulo en columna */
  justify-content: center; /* Centra verticalmente */
  flex: 1; /* Permite que el texto ocupe más espacio */
  color: #f9f9f9;
}

.header-text h1 {
  font-size: 1.8rem;
  margin: 0;
}

.header-text p {
  font-size: 1rem;
  color: #c7c7c7;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: column; /* Organiza en columna para poner los íconos abajo */
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: center; /* Centra verticalmente */
  margin: 20px 0; /* Elimina márgenes */
  position: relative; /* Asegura que el contenido interno pueda posicionarse */
}

.logo-image {
  max-width: 120px; /* Ajusta el tamaño máximo del logo */
  height: auto; /* Mantén la proporción de aspecto */
  border-radius: 50%; /* Hace que el logo sea circular */
}

h1,
h2 {
  text-align: center;
  color: #f9f9f9;
  font-weight: 700; /* Estilo para títulos */
}

h2 {
  position: relative;
  display: inline-block; /* Asegura que el efecto funcione correctamente */
  color: #f9f9f9;
  font-size: 1.8rem; /* Aumentado */
  transition: color 0.3s ease-in-out; /* Transición suave para el color */
}

h2:hover {
  color: #ffffff; /* Cambia el color del texto al pasar el cursor */
}

h2::after {
  content: ""; /* Agrega un elemento decorativo */
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajusta la posición debajo del texto */
  width: 0;
  height: 2px; /* Grosor de la línea */
  background: #ffffff; /* Color de la línea */
  transition: width 0.3s ease-in-out; /* Transición suave */
}

h2:hover::after {
  width: 100%; /* La línea se expande al 100% del ancho del texto */
}

p,
li {
  color: #c7c7c7;
  font-weight: 400; /* Estilo para texto normal */
  font-size: 1.1rem;
}

.columns {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.column {
  flex: 1;
  background: #333333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: #c7c7c7;
  margin-bottom: 10px;
}

.contact {
  text-align: center;
  margin-top: 20px;
  background: #333333;
  padding: 20px;
  border-radius: 8px;
  display: flex; /* Usamos flexbox */
  flex-direction: column; /* Organiza el texto y los íconos en columna */
  align-items: center; /* Centra horizontalmente */
}

.contact h2 {
  margin-bottom: 20px; /* Espaciado entre el título y los íconos */
  font-size: 1.5rem; /* Tamaño del título */
  color: #f9f9f9;
}

.contact-icons {
  display: flex;
  justify-content: center; /* Centra los íconos */
  gap: 15px; /* Espaciado uniforme entre los íconos */
  flex-wrap: wrap; /* Permite que los íconos se adapten en filas si no hay suficiente espacio */
  margin-top: 10px; /* Ajusta el margen superior */
}

.contact-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Ajusta el tamaño del fondo circular */
  height: 40px;
  transition: ilter 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transiciones suaves */
}

.contact-icons img[alt="Github"] {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.contact-icons img[alt="LinkedIn"] {
  filter: drop-shadow(0 0 10px rgba(0, 255, 225, 0.4)); /* Amarillo para JS */
}

.contact-icons img[alt="Gmail"] {
  filter: drop-shadow(0 0 10px rgba(255, 132, 0, 0.4)); /* Amarillo para JS */
}

.contact-icons a:hover {
  transform: scale(1.1); /* Agranda ligeramente el ícono */
}

.icon {
  width: 25px; /* Ajusta el tamaño del ícono */
  height: 25px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .container {
    background: #f9f9f9;
  }

  h1,
  h2 {
    color: #213547;
  }

  p,
  li {
    color: #555;
  }
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.icon {
  font-size: 2rem; /* Tamaño de los íconos */
  color: #c7c7c7;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #61dafb; /* Azul claro */
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Fondo circular tenue al pasar el mouse */
}

.tech-icons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.tech-icons img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.tech-icons img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

/* Slick */
.technologies {
  text-align: center;
  background-color: #f9f9f9;
  position: relative; /* Necesario para las pseudo-clases */
  overflow: hidden;
  background: #333333;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.technologies h2 {
  margin: 10px 0 20px 0;
}

.tech-slider {
  overflow: visible; /* Permite que el contenido completo sea visible */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}

.tech-track {
  display: flex;
  gap: 20px; /* Espaciado entre los íconos */
  justify-content: center; /* Centra horizontalmente los íconos */
  flex-wrap: wrap; /* Permite que los íconos se adapten al tamaño del contenedor si es necesario */
  width: 100%; /* Ajusta al ancho del contenedor */
  margin: 0 auto; /* Centra horizontalmente */
}

.tech-track img {
  width: 60px; /* Tamaño fijo */
  height: 60px; /* Tamaño fijo */
  object-fit: contain; /* Mantén las proporciones */
  margin: 0 10px; /* Espaciado horizontal */
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transiciones suaves */
}

/* Java */
.tech-track img[alt="Java"] {
  filter: drop-shadow(
    0 0 10px rgba(255, 87, 34, 0.4)
  ); /* Color predominante de Java */
}

/* JavaScript */
.tech-track img[alt="JavaScript"] {
  filter: drop-shadow(0 0 10px rgba(255, 221, 0, 0.4)); /* Amarillo para JS */
}

/* Python */
.tech-track img[alt="Python"] {
  filter: drop-shadow(
    0 0 10px rgba(53, 114, 182, 0.4)
  ); /* Azul predominante de Python */
}

/* Kotlin */
.tech-track img[alt="Kotlin"] {
  filter: drop-shadow(0 0 10px rgba(255, 94, 136, 0.4)); /* Rosa para Kotlin */
}

/* Spring Boot */
.tech-track img[alt="Spring Boot"] {
  filter: drop-shadow(0 0 10px rgba(97, 205, 85, 0.4)); /* Verde para Spring */
}

/* Angular */
.tech-track img[alt="Angular"] {
  filter: drop-shadow(0 0 10px rgba(221, 27, 45, 0.4)); /* Rojo para Angular */
}

/* Android Studio */
.tech-track img[alt="Android Studio"] {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4)); /* Verde Android */
}

/* NodeJS */
.tech-track img[alt="NodeJS"] {
  filter: drop-shadow(0 0 10px rgba(143, 188, 66, 0.4)); /* Verde NodeJS */
}

/* Docker */
.tech-track img[alt="Docker"] {
  filter: drop-shadow(0 0 10px rgba(0, 136, 204, 0.4)); /* Azul Docker */
}

/* Terraform */
.tech-track img[alt="Terraform"] {
  filter: drop-shadow(0 0 10px rgba(128, 90, 213, 0.4)); /* Púrpura Terraform */
}

/* Firebase */
.tech-track img[alt="Firebase"] {
  filter: drop-shadow(0 0 10px rgba(255, 193, 7, 0.4)); /* Amarillo Firebase */
}

/* Hover */
.tech-track img:hover {
  transform: scale(1.2); /* Aumenta el tamaño del ícono al pasar el ratón */
}

/* Animación de scroll continuo */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 15px; /* Reduce el espacio entre proyectos */
  }

  .header-text h1 {
    font-size: 1rem; /* Ajusta el tamaño del título */
  }

  .tech-track {
    animation: none;
  }
  .container {
    width: 95%; /* Asegúrate de que tenga un margen lateral pequeño */
    padding: 15px; /* Reduce el padding */
  }

  .header {
    flex-direction: column; /* Cambia el layout a columna en móviles */
    text-align: center; /* Centra el texto */
  }

  .header-text h1 {
    font-size: 1.2rem; /* Reduce el tamaño de la fuente */
  }

  .contact-icons {
    flex-wrap: wrap; /* Permite que los íconos se adapten en filas */
    gap: 10px; /* Reduce el espacio entre íconos */
  }
}

.sticky-header {
  position: sticky;
  top: 0; /* Fija la posición en la parte superior */
  background-color: #1e1e1e; /* Fondo del header */
  padding: 10px 0; /* Espaciado */
  z-index: 100; /* Asegura que esté encima de todo */
  border-bottom: 2px solid #333333; /* Línea decorativa */
}
